.price {
    font-weight: bold;
    font-size: 16px;
}
.tPrice {
    font-weight: bolder;
    font-size: 20px;
}

.thumbnail img{
    max-height: 200px;
}
/* homepage start */


.btn-card-view {
    margin-top: 30px;
    width: 100%;
    padding: 12px;
    font-size: 18px;
}
.a-see-all{
    float: right;
}
mi i{
    width: 40px;
}

/* start of shopping cart css */
.shopping-cart{
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}

.shopping-cart.dark{
	background-color: #f6f6f6;
}

.shopping-cart .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
}

.shopping-cart .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.shopping-cart .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.shopping-cart .dark .block-heading p{
	opacity:0.8;
}

.shopping-cart .block-heading h1,
.shopping-cart .block-heading h2,
.shopping-cart .block-heading h3 {
	margin-bottom:1.2rem;
	color: #3b99e0;
}

.shopping-cart .items{
	margin: auto;
}

.shopping-cart .items .product{
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .items .product .info{
	padding-top: 0px;
	text-align: center;
}

.shopping-cart .items .product .info .product-name{
	font-weight: 600;
}

.shopping-cart .items .product .info .product-name .product-info{
	font-size: 14px;
	margin-top: 15px;
}

.shopping-cart .items .product .info .product-name .product-info .value{
	font-weight: 400;
}

.shopping-cart .items .product .info .quantity .quantity-input{
    margin: auto;
    width: 80px;
}

.shopping-cart .items .product .info .price{
	margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
 }

.shopping-cart .summary{
	border-top: 2px solid #5ea4f3;
    background-color: #f7fbff;
    height: 100%;
    padding: 30px;
}

.shopping-cart .summary h3{
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type){
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text{
	font-size: 1em;
	font-weight: 600;
}

.shopping-cart .summary .price{
	font-size: 1em;
	float: right;
}

.shopping-cart .summary button{
	margin-top: 20px;
}

@media (min-width: 768px) {
	.shopping-cart .items .product .info {
		padding-top: 25px;
		text-align: left;
	}

	.shopping-cart .items .product .info .price {
		font-weight: bold;
		font-size: 22px;
		top: 17px;
	}

	.shopping-cart .items .product .info .quantity {
		text-align: center;
	}
	.shopping-cart .items .product .info .quantity .quantity-input {
		padding: 4px 10px;
		text-align: center;
	}
}
/* end of shopping cart css */

/* start another shopping cart css */


.quantity {
    float: left;
    margin-right: 15px;
    background-color: #eee;
    position: relative;
    width: 20px;
    overflow: hidden
}

.quantity input {
    margin: 0;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 0;
    float: right;
    color: #000;
    font-size: 20px;
    border: 0;
    outline: 0;
    background-color: #F6F6F6
}

.quantity input.qty {
    position: relative;
    border: 0;
    width: 100%;
    height: 40px;
    padding: 10px 25px 10px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    background-clip: padding-box
}

.quantity .minus, .quantity .plus {
    line-height: 0;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-size: 6px 30px;
    -moz-background-size: 6px 30px;
    color: #bbb;
    font-size: 20px;
    position: absolute;
    height: 25px;
    border: 0;
    right: 0;
    padding: 0;
    width: 25px;
    z-index: 3
}

.quantity .minus:hover, .quantity .plus:hover {
    background-color: #dad8da
}

.quantity .minus {
    bottom: 0
}
.shopping-cart {
    margin-top: 20px;
}
/* end of another shopping cart css */
/* start of quantity center */
.boxx {
}
.centerspan {
    padding-top: 10px;
}
/* end of quantity center */

/* start my orders css */

.panel-order .row {
	border-bottom: 1px solid #ccc;
}
.panel-order .row:last-child {
	border: 0px;
}
.panel-order .row .col-md-1  {
	text-align: center;
	padding-top: 15px;
}
.panel-order .row .col-md-1 img {
	width: 50px;
	max-height: 50px;
}
.panel-order .row .row {
	border-bottom: 0;
}
.panel-order .row .col-md-11 {
	border-left: 1px solid #ccc;
}
.panel-order .row .row .col-md-12 {
	padding-top: 7px;
	padding-bottom: 7px;
}
.panel-order .row .row .col-md-12:last-child {
	font-size: 11px;
	color: #555;
	background: #efefef;
}
.panel-order .btn-group {
	margin: 0px;
	padding: 0px;
}
.panel-order .panel-body {
	padding-top: 0px;
	padding-bottom: 0px;
}
.panel-order .panel-deading {
	margin-bottom: 0;
}
/* end my orders css */

/* css view product start */
.ptb50 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.mtb0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.mt20 {
    margin-top: 20px;
}
.btn-main-invert {
    border: 1px solid #02AAB0;
    background: white;
    border-radius: 3px;
    color: #02AAB0;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    padding: 10px;
    font-size: 14px;
}
.mb0{
    text-align: center;
}
.read-more .read-more-arrow-sm {
    /* margin-left: 5px; */
    font-size: 17px;
    vertical-align: text-top;
}
.body-content {
    background-color: #FFFFFF;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 56px);
}
.read-more {
    color: #02AAB0;
    text-transform: capitalize;
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
}
.hydrated {
    visibility: inherit;
}
.product-price-big {
    font-size: 20px;
}
.mlr0 {
    margin-left: 0px;
    margin-right: 0px;
}
.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.pl0 {
    padding-left: 0px;
}
.product-md-info {
    font-size: 14px;
    color: #A4A4A4;
    cursor: pointer;
}
.pr0 {
    padding-right: 0px;
}
.text-right {
    text-align: right!important;
}
.ptb15 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.plr15 {
    padding-left: 15px;
    padding-right: 15px;
}
.product-tag-solid {
    background: #02AAB0;
    border-radius: 17px;
    font-size: 12px;
    font-family: Lato-Bold;
    color: white;
    text-align: center;
}
.mr10 {
    margin-right: 10px;
}
.img10 {
    padding-top: 10%;
}
.img {
    width: 100%;
    height: 0px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.product-sm-info {
    font-size: 12px;
    color: #A4A4A4;
}
.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.product-ic-sm {
    height: 50px !important;
    width: 50px !important;
    cursor: pointer;
}
.icon-send {
    color: #02AAB0 !important;
}
.border-none {
    border: none !important;
}
.products-similar {
    margin-top: 0px;
}
.products-similar {
    margin-top: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.info-text {
    font-size: 14px;
    line-height: 22px;
    color: #373737;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.card-img-top {
    height: 171px;
    width: 255px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
img {
    vertical-align: middle;
    border-style: none;
}
*, ::after, ::before {
    box-sizing: border-box;
}
a {
    color: #212529;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.p0 {
    padding: 0px;
}
.tag-img {
    width: 85%;
}
.tag-img {
    width: 120%;
}
.tag-img {
    width: 80%;
}
.flex-column {
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}
.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 1.25rem;
}
.col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.p0 {
    padding: 0px;
}
.info-address {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 0px;
    color: #5C5C5C;
}

.info-address li.info-item {
    display: inline;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.info-title {
    color: #373737;
}
.product-price {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 16px;
}
.text-sub {
    font-size: 16px;
}
.product-harvest-pending {
    color: #373737;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
}

.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.text-lato-bold {
    font-family: Lato-Bold;
}
.card-tag-solid {
    width: 50%;
    font-size: 14px;
    padding: 5px;
    color: #fff;
    text-align: center;
    background: #02AAB0;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.55);
    border-radius: 0 15.5px 15.5px 0;
}
p {
    line-height: 1.5;
    margin: 30px 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.info-address {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 0px;
    color: #5C5C5C;
}
ul {
    list-style-type: disc;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

a:hover {
    color: #17a2b8;
    text-decoration: none;
  }

a {
    color: #212529;
    -webkit-transition: all .2s;
    transition: all .2s;
    text-decoration: none;
}
/* end css view product */

/* start css view farm */
.title-lg {

    font-weight: bold;
    font-size: 24px;
}
.text-sub {
    font-size: 16px;
}
.title-md {
    font-weight: bold;
    font-size: 18px;
}
.plr0 {
    padding-left: 0px;
    padding-right: 0px;
}

.text-justify {
    text-align: justify!important;
}
.mt15 {
    margin-top: 15px;
}
.col-lg-8 {
    -webkit-box-flex: 0;
    padding-left: 80px;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.pb20 {
    padding-bottom: 20px;
}
.container {
    max-width: 1140px;
}

.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.align-center {
    text-align: center;
}
.btn-farm-size {
    width: 265px !important;
}

.btn-farm-size {
    width: 265px;
    font-size: 15px;
}
.btn-main-solid {
    background: #3385ff;
    border-radius: 3px;
    color: white;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    padding: 10px;
    border: 0px;
    font-size: 14px;
}
.pt20{
    padding-top: 20px;
}






/* end css view farm */
/* start of css in user profile */
.profile
{
    min-height: 355px;
    display: inline-block;
    }
figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis
{
    border-top: 4px solid transparent;
    }
.emphasis:hover
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}
/* .dropdown-menu
{
    background-color: #34495e;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
    }
.dropdown-menu .divider
{
    background:none;
    }
.dropdown-menu>li>a
{
    color:#f5f5f5;
    }
.dropup .dropdown-menu
{
    margin-bottom:10px;
    }
.dropup .dropdown-menu:before
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
    } */
/*  end of css in user profile */

/* css start of chat */
.card-header-chat{
    color: white;
    background: #6fc529;

  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
/* css end of chat */
